<table class="bloco">
  <tr>
    <td
      *ngFor="let nome of nomes"
      style="background-color: #ddd"
      class="nao-quebra"
    >
      {{ nome }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.arcondicionado }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.travasEletricas }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.arquente }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.pilotoAutomatico }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.regulagemAlturaVolante }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.trioEletrico }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.cdplayer }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.cdplayerMP3 }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.usb }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.radioFmAm }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.kitMultimidia }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.bancosDeCouro }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.ajusteAlturaBanco }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.ajusteEletricoBanco }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.vidrosEletricosDianteiros }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.vidrosEletricosTraseiros }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.desembTraseiro }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let conforto of confortos">
      {{ conforto.tetoSolar }}
    </td>
  </tr>
</table>
