<table class="bloco table-bordered">
  <tr>
    <td class="nao-quebra largura" style="background-color: #ddd">
      <h3>Mecânica</h3>
    </td>
    <td
      *ngFor="let nome of nomes"
      style="background-color: #ddd"
      class="nao-quebra largura"
    >
      <div class="nao-quebra">{{ nome }}</div>
    </td>
  </tr>
  <tr>
    <td>Motorização</td>
    <td *ngFor="let mecanica of mecanicas">
      {{ mecanica.motorizacao | number: "1.1-1" }}
    </td>
  </tr>
  <tr>
    <td>Combustível</td>
    <td *ngFor="let mecanica of mecanicas" style="padding: 0px">
      <div
        [ngClass]="{
          simples: mecanica.combustivel.length == 1,
          dupla: mecanica.combustivel.length == 2
        }"
        *ngFor="let combustivel of mecanica.combustivel"
      >
        {{ combustivel }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Potência (cv)</td>
    <td *ngFor="let mecanica of mecanicas; let i = index">
      <div
        [ngClass]="{
          simples: mecanica.combustivel.length == 1,
          dupla: mecanica.combustivel.length == 2
        }"
        *ngFor="let potencia of mecanica.potencia"
      >
        {{ potencia }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Torque (Kgf.m)</td>
    <td *ngFor="let mecanica of mecanicas">
      <div
        [ngClass]="{
          simples: mecanica.combustivel.length == 1,
          dupla: mecanica.combustivel.length == 2
        }"
        *ngFor="let torque of mecanica.torque"
      >
        {{ torque }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Velocidade Máxima (Km/h)</td>
    <td *ngFor="let mecanica of mecanicas">
      <div
        [ngClass]="{
          simples: mecanica.combustivel.length == 1,
          dupla: mecanica.combustivel.length == 2
        }"
        *ngFor="let velocidadeMax of mecanica.velocidadeMax"
      >
        {{ velocidadeMax }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Tempo 0-100 (s)</td>
    <td *ngFor="let mecanica of mecanicas">
      <div
        [ngClass]="{
          simples: mecanica.combustivel.length == 1,
          dupla: mecanica.combustivel.length == 2
        }"
        *ngFor="let tempo0a100 of mecanica.tempo0a100"
      >
        {{ tempo0a100 }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Consumo cidade (Km/L)</td>
    <td *ngFor="let mecanica of mecanicas">
      <div
        [ngClass]="{
          simples: mecanica.combustivel.length == 1,
          dupla: mecanica.combustivel.length == 2
        }"
        *ngFor="let consumoCidade of mecanica.consumoCidade"
      >
        {{ consumoCidade }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Consumo estrada (Km/L)</td>
    <td *ngFor="let mecanica of mecanicas">
      <div
        [ngClass]="{
          simples: mecanica.combustivel.length == 1,
          dupla: mecanica.combustivel.length == 2
        }"
        *ngFor="let consumoEstrada of mecanica.consumoEstrada"
      >
        {{ consumoEstrada }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Transmissão</td>
    <td *ngFor="let mecanica of mecanicas">
      {{ mecanica.transmissao }}
    </td>
  </tr>
  <tr>
    <td>Tração</td>
    <td *ngFor="let mecanica of mecanicas">
      {{ mecanica.tracao }}
    </td>
  </tr>
  <tr>
    <td>Direção</td>
    <td *ngFor="let mecanica of mecanicas">
      {{ mecanica.direcao }}
    </td>
  </tr>
</table>
