<table class="table table-bordered cartao">
  <thead>
    <tr>
      <th style="background-color: #ddd" colspan="2">
        {{ nome }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{ dimensoes.altura }}
      </td>
    </tr>
    <tr>
      <td>
        {{ dimensoes.largura }}
      </td>
    </tr>
    <tr>
      <td>
        {{ dimensoes.comprimento }}
      </td>
    </tr>
    <tr>
      <td>
        {{ dimensoes.peso }}
      </td>
    </tr>
    <tr>
      <td>
        {{ dimensoes.tanque }}
      </td>
    </tr>
    <tr>
      <td>
        {{ dimensoes.entreeixos }}
      </td>
    </tr>
    <tr>
      <td>
        {{ dimensoes.portamalas }}
      </td>
    </tr>
    <tr>
      <td>
        {{ dimensoes.ocupantes }}
      </td>
    </tr>
  </tbody>
</table>
