<table class="bloco">
  <tr>
    <td
      *ngFor="let nome of nomes"
      style="background-color: #ddd"
      class="nao-quebra"
    >
      {{ nome }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let dimensao of dimensoes">
      {{ dimensao.altura }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let dimensao of dimensoes">
      {{ dimensao.largura }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let dimensao of dimensoes">
      {{ dimensao.comprimento }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let dimensao of dimensoes">
      {{ dimensao.peso }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let dimensao of dimensoes">
      {{ dimensao.tanque }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let dimensao of dimensoes">
      {{ dimensao.entreeixos }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let dimensao of dimensoes">
      {{ dimensao.portamalas }}
    </td>
  </tr>
  <tr>
    <td *ngFor="let dimensao of dimensoes">
      {{ dimensao.ocupantes }}
    </td>
  </tr>
</table>
