<div style="background-color: #eee; display: inline-block">
  <app-compare-card
    [cards]="cards"
    [ids]="ids"
    (remover)="onRemover($event)"
    style="display: inline-block"
    class="align-baseline"
  ></app-compare-card>
  <app-compare-mecanica
    [mecanicas]="mecanicas"
    [nomes]="nomes"
  ></app-compare-mecanica>

  <app-compare-dimensoes
    [dimensoes]="dimensoes"
    [nomes]="nomes"
  ></app-compare-dimensoes>
  <app-compare-conforto
    [confortos]="confortos"
    [nomes]="nomes"
  ></app-compare-conforto
  ><app-compare-seguranca
    [segurancas]="segurancas"
    [nomes]="nomes"
  ></app-compare-seguranca>
</div>
<!--button class="btn btn-success" (click)="loadCar(carroId)">
  Adicionar carro
</button>
<input [(ngModel)]="carroId" type="text" /-->
<!--button class="btn btn-danger" (click)="onRemove(inputRemove)">Remove</button-->
<app-add-compare (mudouValor)="onMudouValor($event)"></app-add-compare>
