<p *ngFor="let resultado of resultados$ | async">aaa: {{ resultado | json }}</p>
<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="form" class="row">
      <div formGroupName="card" class="row borda-legal">
        <app-carro-edit-input
          [form]="getFormGroup('card')"
          [campos]="campos.card"
        >
        </app-carro-edit-input>
      </div>
      <div formGroupName="mecanica" class="row borda-legal">
        <app-carro-edit-input
          [form]="getFormGroup('mecanica')"
          [campos]="campos.mecanica"
        ></app-carro-edit-input>
      </div>
      <div formGroupName="dimensoes" class="row borda-legal">
        <app-carro-edit-input
          [form]="getFormGroup('dimensoes')"
          [campos]="campos.dimensoes"
        ></app-carro-edit-input>
      </div>
      <div formGroupName="conforto" class="row borda-legal">
        <app-checkbox-campo
          class="col-3"
          [label]="'Ar-Condicionado'"
          [name]="'arcondicionado'"
          [field]="getControl('conforto.arcondicionado')"
        ></app-checkbox-campo>
      </div>
      <div formGroupName="seguranca" class="row borda-legal">
        <app-checkbox-campo
          class="col-3"
          [label]="'ABS'"
          [name]="'abs'"
          [field]="getControl('seguranca.abs')"
        ></app-checkbox-campo>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="trySubmit()">
      Adicionar Carro
    </button>
  </form>
</div>
