<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="form" class="row">
      <div formGroupName="card" class="row">
        <app-input-campo
          class="col-2"
          [label]="'Marca'"
          [type]="'text'"
          [name]="'marca'"
          [field]="getControl('card.marca')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Modelo'"
          [type]="'text'"
          [name]="'modelo'"
          [field]="getControl('card.modelo')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Versão'"
          [type]="'text'"
          [name]="'versao'"
          [field]="getControl('card.versao')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Ano'"
          [type]="'text'"
          [name]="'ano'"
          [field]="getControl('card.ano')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Preço Mínimo'"
          [type]="'text'"
          [name]="'precoMin'"
          [field]="getControl('card.precoMin')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Preço Máximo'"
          [type]="'text'"
          [name]="'precoMax'"
          [field]="getControl('card.precoMax')"
        ></app-input-campo>
      </div>
      <div formGroupName="mecanica" class="row">
        <app-input-campo
          class="col-2"
          [label]="'Motorização'"
          [type]="'text'"
          [name]="'motorizacao'"
          [field]="getControl('mecanica.motorizacao')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Combustivel'"
          [type]="'text'"
          [name]="'combustivel'"
          [field]="getControl('mecanica.combustivel')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Potência'"
          [type]="'text'"
          [name]="'potencia'"
          [field]="getControl('mecanica.potencia')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Potência RPM'"
          [type]="'text'"
          [name]="'potenciaRpm'"
          [field]="getControl('mecanica.potenciaRpm')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Torque'"
          [type]="'text'"
          [name]="'torque'"
          [field]="getControl('mecanica.torque')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Torque RPM'"
          [type]="'text'"
          [name]="'torqueRpm'"
          [field]="getControl('mecanica.torqueRpm')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Velocidade Máxima'"
          [type]="'text'"
          [name]="'velocidadeMax'"
          [field]="getControl('mecanica.velocidadeMax')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Tempo 0 a 100'"
          [type]="'text'"
          [name]="'tempo0a100'"
          [field]="getControl('mecanica.tempo0a100')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Consumo na Cidade'"
          [type]="'text'"
          [name]="'consumoCidade'"
          [field]="getControl('mecanica.consumoCidade')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Consumo na Estrada'"
          [type]="'text'"
          [name]="'consumoEstrada'"
          [field]="getControl('mecanica.consumoEstrada')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Transmissão'"
          [type]="'text'"
          [name]="'transmissao'"
          [field]="getControl('mecanica.transmissao')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Tração'"
          [type]="'text'"
          [name]="'tracao'"
          [field]="getControl('mecanica.tracao')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Direção'"
          [type]="'text'"
          [name]="'direcao'"
          [field]="getControl('mecanica.direcao')"
        ></app-input-campo>
      </div>
      <div formGroupName="dimensoes" class="row">
        <app-input-campo
          class="col-2"
          [label]="'Altura'"
          [type]="'text'"
          [name]="'altura'"
          [field]="getControl('dimensoes.altura')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Largura'"
          [type]="'text'"
          [name]="'largura'"
          [field]="getControl('dimensoes.largura')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Comprimento'"
          [type]="'text'"
          [name]="'comprimento'"
          [field]="getControl('dimensoes.comprimento')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Peso'"
          [type]="'text'"
          [name]="'peso'"
          [field]="getControl('dimensoes.peso')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Tanque'"
          [type]="'text'"
          [name]="'tanque'"
          [field]="getControl('dimensoes.tanque')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Entreeixos'"
          [type]="'text'"
          [name]="'entreeixos'"
          [field]="getControl('dimensoes.entreeixos')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Porta Malas'"
          [type]="'text'"
          [name]="'portamalas'"
          [field]="getControl('dimensoes.portamalas')"
        ></app-input-campo>
        <app-input-campo
          class="col-2"
          [label]="'Ocupantes'"
          [type]="'text'"
          [name]="'ocupantes'"
          [field]="getControl('dimensoes.ocupantes')"
        ></app-input-campo>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="trySubmit()">Adicionar Carro</button>
  </form>
</div>