/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.cartao {
  width: 1220px;
  padding: 25px;
  margin-top: 25px;
  font-size: small;
  text-align: center;
  /*float: left;*/
}
